body{

	background-color:beige;
}

table,tr,td{
	border:2px groove;
	border-color: royalblue;
	padding: 3px;
	background-color: skyblue;
}

a {
	color:royalblue;
	text-decoration: none;
}

a:checked{
	color: royalblue;
	text-decoration:none;
}

a:hover{
	background-color: royalblue;
	text-decoration:none;
	color:white;
}

div:after{
	border:0 none;
	border-color:white;
	padding:0px;
	background-color:white;
}

div.before{
	margin-bottom:0px;
}

.conteudo{
	margin:0;
	position: absolute;
	top: 50%;
	left:50%;
	margin-right:-50%;
	transform: translate(-50%,-50%);
}

#titulo{
	color:royalblue;
	text-align:center;
	font-family: helvetica,arial,sans-serif;
	font-weight:bold;
	font-size:3em;
	margin:0px;
	padding:0px;
}

#menu{
	font-family: tahoma, arial;
	width:100px;
	text-align:center;
}
	
#email{
	text-decoration:none;
	text-align:center;
	font-family:sans-serif;
	font-size:18px;
	margin: 0px;
	padding: 0px;
}

#email a:checked{
	color:red;
	text-decoration:none;
}

#email a:hover {
	text-decoration:none;
	color:red;
	background-color: lavender;
}

#rodape{
	text-align:center;
	font-family: helvetica,arial,sans-serif;
	font-weight:bold;
	font-size:1em;
	margin:0px;
	padding:0px;
}

#principal{
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	padding:0;
}

.inicial table tr td {
	
	border-style:none;
	border-width:0;
	border-color:white;
	background:skyblue;
	
	text-align:justify;
	font-family:helvetica,arial,sans-serif;
	font-weight:bold;
	font-size:14px;
	
	padding-top:0px;
	padding-bottom:0px;
}

